/gen
/bin
/build
/release
local.properties
/crashlytics.properties
*.keystore
assets/crashlytics-build.properties
res/values/.com_crashlytics_export_strings.xml.swp
res/values/com_crashlytics_export_strings.xml

