# To enable ProGuard in your project, edit project.properties
# to define the proguard.config property as described in that file.
#
# Add project specific ProGuard rules here.
# By default, the flags in this file are appended to flags specified
# in ${sdk.dir}/tools/proguard/proguard-android.txt
# You can edit the include path and order by changing the ProGuard
# include property in project.properties.
#
# For more details, see
#   http://developer.android.com/guide/developing/tools/proguard.html

# Add any project specific keep options here:

# If your project uses WebView with JS, uncomment the following
# and specify the fully qualified class name to the JavaScript interface
# class:
-keepclassmembers class fqcn.of.javascript.interface.for.webview {
   public *;
}

-keep class com.garrapeta.jumplings.Score { *; }

-keep class com.badlogic.** { *; }
-keep class com.google.gson.** { *; }

-dontwarn **
-keep class android.support.v4.** { *; }
-libraryjars /libs/gson-2.2.4.jar
-libraryjars /libs/mobclix.jar
-libraryjars /libs/android-support-v4.jar

# Flurry begins
- keep class com.flurry.** { *; }
- dontwarn com.flurry.**
- keepattributes *Annotation*,EnclosingMethod
# Flurry ends

# Mobclix begins
-keep public class com.mobclix.android.sdk.*
-keep class com.mobclix.android.sdk.MobclixContactsSdk3_4
-keep class com.mobclix.android.sdk.MobclixContactsSdk5
-keep class com.mobclix.android.sdk.MobclixWebViewClientSdk11
-keepclassmembers class com.mobclix.android.sdk.MobclixWebViewClientSdk11
{
	<init>(...);
	public void *(...);
}
-keep class com.mobclix.android.sdk.MobclixWebChromeClientSdk5
-keepclassmembers class com.mobclix.android.sdk.MobclixWebChromeClientSdk5
{
	<init>(...);
	public void *(...);
}
-keep class com.mobclix.android.sdk.MobclixWebChromeClientSdk7
-keepclassmembers class com.mobclix.android.sdk.MobclixWebChromeClientSdk7
{
	<init>(...);
	public void *(...);
}
-keep class com.mobclix.android.sdk.MobclixJavascriptInterface
-keepclassmembers class com.mobclix.android.sdk.MobclixJavascriptInterface
{
	public void *(...);
	<methods>;
}
-keepclassmembernames class
com.mobclix.android.sdk.MobclixJavascriptInterface {
	public void *(...);
	<methods>;
}
# Mobclix ends